.form-container {
  display: flex;
  flex-direction: column;
}

.form-field-currency {
  display: flex;
  justify-content: space-between;
  height: 100px;
  margin: 15px 0 15px 0;
}

.img-currency {
  width: 73px;
  height: 73px;
  padding: 10px;
  transition: all 0.5s ease-in-out;
}

.img-currency:hover {
  width: 100px;
  height: 100px;
  filter: drop-shadow(2px 3px 6px #000)
}

.form-field-itens {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 15px;
}

.form-field-itens label {
  font-size: x-large;
}

.input-field {
  display: block;
  height: 30px;
  width: 180px;
  font-size: x-large;
  border-radius: 10px;
}

.form-field-itens img {
  width: 18px;
  padding: 15px;  
}
