.form-container {
  display: flex;
  flex-direction: column;
}

.form-field-currency {
  display: flex;
  justify-content: space-around;
}

.form-field-currency a:hover{
  cursor: pointer;
  fill:pink;
}

.form-field-currency img:hover{
  cursor: pointer;
  color: red;
}


.form-field-currency img{
  width: 73px;
  height: 73px;
  padding: 10px;
}

.form-field-itens {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.form-field-itens label {
  font-size: x-large;
}

.input-field {
  display: block;
  height: 30px;
  width: 180px;
  font-size: x-large;
  border-radius: 10px;
}
