@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,700&family=Nunito:wght@600&display=swap');

.main-content {
  width: 530px;
  height: auto;
  border-radius: 10px;
  box-shadow: 6px 7px 10px 1px rgba(0, 0, 0, 0.2);
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Nunito', sans-serif;
}

.card-title-container {
  display: flex;
  padding: 15px;
  width: 50%;
}
.card-img {
  width: 95px;
  height: 95px;
}

.card-title {
  padding: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  font-size: xx-large;
  word-wrap: break-word;
  line-height: 42px;
}



