.main-content {
  width: 530px;
  height: auto;
  border-radius: 10px;
  box-shadow: 6px 7px 10px 1px rgba(0, 0, 0, 0.2);
}

.card-title {
  padding: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  font-size: xx-large;
}



